@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');


// Font families
$primary-font: 'Roboto', sans-serif;
$heading-font: 'Playfair Display', serif;
$signature-font: 'Great Vibes', cursive;


$font-size-xs: 10px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;
$font-size-2xxl: 36px;
$font-size-3xxl: 44px;
$font-size-4xxl: 48px;

// Line heights
$line-height-xs: 1.2;
$line-height-sm: 1.4;
$line-height-md: 1.5;
$line-height-lg: 1.6;
$line-height-xl: 1.8;
$line-height-xxl: 2;
$line-height-xxxl: 2.5;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

