@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

// colors
$dark-color: #17181B;
$dark-color-sec: #2C2D2F;
$sky-blue: #00A3E1;
// $sky-blue: #0893CC;
// $sky-blue-sec: #00A3E1;
$dark-gray: #777777;
$light-gray: #dddddd;
$extra-dark-gray: #333333;
$white-color: #fff;

// font-families
$inter: 'Inter', sans-serif;
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;
$greatvibes: 'Great Vibes', cursive;


// fontsizes
$font-size-xs: 10px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;
$font-size-2xxl: 36px;
$font-size-3xxl: 44px;
$font-size-4xxl: 48px;

@media (min-width: 768px) {
    $sm-pd: 5rem;
    $md-pd: 100rem;
    $lg-pd: 1.5rem;

}
// padding
$sm-pd: 5rem;
$md-pd: 1rem;
$lg-pd: 1.5rem;
