.blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

// blog__card
.blog__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 300ms;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    .blog__card__information {
        background: $dark-color-sec !important;
        padding: 0.5rem 0;
        color: $white-color;
        display: flex;
        flex-direction: column;
        gap: 0.5rem 0;
        width: 80%;
        margin-top: -20px;
        box-shadow: 1px 1px 10px $dark-color;

    }
    .author {
        color: $sky-blue;
    }
    .date {
        font-style: italic;
    }

}