.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.contact__main {
    width: 100%;
    display: grid;
    gap: 2rem;
    padding: 1rem;
    @include md {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        .contact__main__message {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    .contact__main__name, .contact__main__email, .contact__main__message {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: $dark-gray;
        position: relative;
        textarea {
            resize: none;
        }
        input, textarea {
            border: 1px solid $light-gray;
            padding: 1rem 0.5rem;
            background: transparent;
            color: $white-color;
            font-size: $font-size-medium;
        }
    }
    .submit__button {
        text-align: center;
        @include md {
            text-align: left;
        }
    }


}

    .contact__personal__information {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        padding: 2rem 0 0;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            color: $white-color;
            .icon {
                color: $primary-color;
            }
        }
    }

