.resume__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    color: $white-color;
    @include lg {
        flex-direction: row;
    }
}