.page__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px dotted $dark-gray;
    font-family: $playfair;
    padding-bottom: 0.5rem;
    #{&}__label {
        font-size: $font-size-3xxl;
        color: $sky-blue;
        font-weight: bold;
    }
    #{&}__icon{
        color: $sky-blue
    }
}
